<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사이트소개</title>
</head>
<body>
    <div class="container">
        <div class="top_bar">
            <div class="logo">
                <img style="margin-left:50px; margin-top:50px; width:300px;height:80px;"src="C:\Users\Jin\Desktop\Myproject\Archive_Nano\Archive_Nano\pictures\logo.png">
            </div>
            <div class="nav_bar">
            <nav id ="navbar">
                <ul>
                    <li><a class ="menulink" href="#">사이트 소개</a></li>
                    <li><a class ="menulink" href="#">요약자료</a></li>
                    <li><a class ="menulink" href="#">단어사전</a></li>
                    <li><a class ="menulink" href="#">문제풀이</a></li>
                </ul>
            </nav>
            </div>
            <div class="search_bar">
                <h3>검색창 들어갈곳/회원정보나기타뭘넣자</h3>
            </div>
        </div>
        <div class="main">
            <p>본 사이트는 한양대학교 ERICA 나노광전자 학과의 2,3학년 전공과목의 공부를 위해 만들었습니다.</p><br>
        <p>사이트에 있는 모든 자료는 개인적인 요약 및 서술이며, 잘못된 사항이 있을 시 해당 이메일로 연락 바랍니다.</p>
        <br>
        <p>wlsxodnjs1@gmail.com</p>
        </div>
    </div>
    
    
</body>
</html>