
.main_page{
    height: 80%;
    width: 100%;
    display:flex;
}
.middle_page{
    display:flex;
    flex-direction: column;
    flex:1;
    border:2px solid black;
    border-radius:50px;
    margin-top:1%;
    align-items:center;
    justify-content: center;
}

.semi_page{
    display:flex;
    flex-direction: column;
}

.title{
    font-weight:bold;
    font-size:20px;
    font-display: center;
}
