{% extends "base.html" %}

{% load static %}

{% block title%}
나노아카이브
{% endblock title %}

{% block css%}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock css %}

{% block content%}
    
<div class="main_page">
    <div class="middle_page">
        <p class="title">요약자료</p>
        {% for X in Descripts%}
        <div class="semi_page">
            <p class="classname">강의-{{X.Classname}}</p>
            <p class="text">{{X.Comment}}</p>
        </div>
        {% endfor %}
        <a href="#">요약자료 더 보기</a>
    </div>
            

    <div class="middle_page">
        <div class="semi_page">
            <p class="title">문제풀이</p>
            <a href="#">문제풀이 더 보기</a>
        </div>

    </div>
    <div class="middle_page">
        <div class="semi_page">
            <p class="title">단어사전</p>
            <a href="#">단어사전 더 보기</a>

        </div>
    </div>

</div>
{% endblock %}